<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>flask bootstrap pagination</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>

    <h1>Bootstrap Pagination in Flask</h1>
    <div class="container">


        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        contact_number
                    </th>
                    <th>
                        email.id
                    </th>
                    <th>
                        blood_group
                    </th>
                    <th>
                        city_id
                    </th>
                    <th>
                        added_date
                    </th>
                </tr>
                </thead>
                <tbody>
                    {% for user in display_users.items %}
                    <tr>
                        <td>
                            {{ user.id}}
                        </td>
                        <td>
                            {{user.name}}
                        </td>
                        <td>
                            {{ user.contact_number}}
                        </td>
                        <td>
                            {{ user.email_id}}
                        </td>
                        <td>
                            {{ user.blood_group}}
                        </td>
                        <td>
                            {{ user.city_id}}
                        </td>
                        <td>
                            {{ user.added_date}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <ul class="pagination">
            {% if display_users.has_prev %}
            <li class="page-item"><a class="page-link" href="{{ url_for('display_users',page_num=display_users.prev_num) }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span>
            {% endif %}
            </li>

            {% for page in display_users.iter_pages(left_edge=3, right_edge=3) %}
            {% if page %}
            <li class="page-item"><a class="page-link" href="{{ url_for('display_users',page_num=page) }}">{{ page }}</a></li>
            {% else %}
            <li class="page-item disabled" id = 'records'><a class="#0" class="page-link">_</a></li>
            {% endif %}
            {% endfor %}

            {% if display_users.has_next %}
            <li class="page-item"><a class="page-link" href="{{ url_for('display_users',page_num=display_users.next_num) }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page_link">Next</span></li>
            {% endif %}

        </ul>

    </div>

</body>
</html>